main h3{
    width: 100%;
    text-align: end;
    padding: 0 10em;
}

main .btnContainer {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}