.cartContainer{
    text-align: center;
    text-transform: capitalize;
    color: var(--color1);
    cursor: pointer;
}

.cartContainer:hover{
    scale: 1.1;
    transition: all .2s;
}

.cartContainer div{
    display: flex;
    flex-direction: row;
    transition: all .1s;
}

.cartContainer svg{
    width: 3em;
    fill: var(--color1);
}

.cartContainer div p{
    text-align: center;
    width: 1.5em;
    height: 1.6em;
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 50%;
}