.itemContainer{
   width: 12em;
   background-color: var(--color1);
   margin: 1em 2em 0 0;
   padding-bottom: 1em;

   display: flex;
   flex-direction: column;
   align-items: center;
   text-transform: capitalize;
}

.itemContainer img{
    width: 12em;
    height: 12em;
    object-fit: cover;
}