nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchCartContainer{
    padding: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.searchCartContainer img{
    width: 5em;
    border-radius: 1em;
}

nav ul{
    width: 100%;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

nav ul li{
    width: 9em;
    padding: 1em 0;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}

nav ul li:hover{
    background-color: rgba(32, 32, 30, 0.336);
    color: white;
    cursor: pointer;
    transition: all .2s;
}